.hero {
  background: linear-gradient(180deg, var(--light), var(--primary));
  margin: 10px 0;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light);
  text-align: center;
  border-radius: 10px;
}

.hero > h1 {
  font-size: 45px;
  font-weight: 900;
  width: 90%;
}

.hero > h1 > span > span {
  color: var(--primary);
  -webkit-text-stroke: 2px var(--light);
}

.hero > h2 {
  margin: 10px 0;
  width: 90%;
}

.hero > article {
  margin-top: 20px;
}

.hero > article > a {
  display: inline-block;
  width: 150px;
  padding: 10px 20px;
  border: 1px solid var(--light);
  margin: 0 5px;
  font-weight: 600;
}

.hero > article > a:first-of-type {
  color: var(--light);
}

.hero > article > a:last-of-type {
  background-color: var(--light);
  color: var(--primary);
}

.flexibility {
  margin-top: 30px;
  background: linear-gradient(180deg, var(--light), var(--alice));
  padding: 60px 10px;
}

.flexibility > h2 {
  color: var(--primary);
  text-align: center;
  margin-bottom: 10px;
}

.flexibility > p {
  color: var(--shadow);
  line-height: 25px;
  text-align: justify;
  margin: 10px 0;
}

.flexibility > p > span {
  color: var(--primary);
  font-weight: 900;
}

.features {
  padding: 50px 10px;
  background: linear-gradient(0deg, var(--light), var(--alice));
}

.features > h2 {
  color: var(--primary);
  text-align: center;
  margin-bottom: 10px;
}

.features > div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.features > div > div {
  width: 180px;
  color: var(--light);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 7px;
}

.features > div > div:nth-of-type(1) {
  background: linear-gradient(180deg, #97ff5c, #008000);
}

.features > div > div:nth-of-type(2) {
  background: linear-gradient(180deg, #6c6cfd, blue);
}

.features > div > div:nth-of-type(3) {
  background: linear-gradient(180deg, #fd6c40, red);
}

.features > div > div:nth-of-type(4) {
  background: linear-gradient(180deg, hotpink, #96004b);
}

.features > div > div > article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.features > div > div > article > span {
  width: 50px;
  aspect-ratio: 1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  /* background-color: red; */
  border-radius: 5px;
}

.features > div > div:nth-of-type(1) > article > span {
  background-color: green;
}

.features > div > div:nth-of-type(2) > article > span {
  background-color: blue;
}

.features > div > div:nth-of-type(3) > article > span {
  background-color: red;
}

.features > div > div:nth-of-type(4) > article > span {
  background-color: #96004b;
}

.features > div > div > p {
  font-size: 14px;
}

.features > div > div > p > span {
  color: var(--primary);
  font-weight: 900;
}

.how-it-works {
  background: linear-gradient(180deg, var(--light), var(--alice));
  padding: 60px 10px;
}

.how-it-works > h2 {
  color: var(--primary);
  text-align: center;
  margin-bottom: 10px;
}

.how-it-works > div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.how-it-works > div > div {
  width: 180px;
  color: var(--light);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 7px;
  background: linear-gradient(45deg, #5a8000, #008075);
}

.how-it-works > div > div > p > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--light);
  color: var(--primary);
}

.how-it-works > div > div > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how-it-works > div > div > article > span {
  font-size: 50px;
}

.how-it-works > div > div > article > p {
  text-align: center;
}
