@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

:root {
  --primary: blue;
  --light: white;
  --accent: #04d6b3;
  --shadow: #221e1e;
  --error: #fd2121;
  --success: #0d7c0d;
  --alice: #dadfe2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--accent);
}

.link {
  text-decoration: none;
}

.logo > h1 {
  color: var(--light);
  font-weight: 900;
  letter-spacing: -2px;
  font-weight: 900;
}

.logo > h1 > span {
  color: var(--primary);
  stroke-width: 2px;
  -webkit-text-stroke: 2px var(--light);
}

header {
  background-color: var(--primary);
}

.header-center {
  width: 90%;
  padding: 10px 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

nav > ul > li {
  display: inline-block;
  margin-left: 10px;
}

nav > ul > li > a {
  color: var(--light);
}

nav > ul > li.logout {
  background-color: var(--error);
  padding: 5px 15px;
  border-radius: 3px;
}

.main-center {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.alert {
  width: fit-content;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  left: 20px;
  color: var(--light);
  z-index: 50;
}

.fe-alert {
  width: fit-content;
  padding: 10px;
  display: none;
}

.alert-error {
  background-color: var(--error);
}

.alert > span {
  color: yellow;
}

.alert-success {
  background-color: var(--success);
}
