{% extends "dashboard-layout.html" %} {% block inner_style %}
<link rel="stylesheet" href="../static/categories.css" /> {% endblock
inner_style %} {% block dashboard %}
<section class="dashboard">
  <h1>Categories</h1>
  <section class="category-list">
    {% if categories %} {% for category in categories %}
    <div>
      <article
        style="background-color: {{ category.category_color }}"
      ></article>
      <section>
        <a
          href="/dashboard/category/{{ category.category_name }}?Yhdu={{ category.category_id }}"
          class="link"
          >{{ category["category_name"] }}</a
        >
        <p>
          Created On:
          <span>{{ category["created_at"].strftime("%b %d, %Y") }}</span> At:
          <span>{{ category["created_at"].strftime("%I %M, %p") }}</span>
        </p>
      </section>
    </div>
    {% endfor %} {% else %}
    <p>No Category created yet</p>
    {% endif %}
  </section>
</section>
{% endblock dashboard %} {% block inner_script %}
<script src="../static/js/categories.js" type="module"></script>
{% endblock inner_script %}
