{% extends "dashboard-layout.html" %} {% block inner_style %} {% endblock
inner_style %} {% block dashboard %}
<section class="task-container">
  <h1>{{ task_info["task_name"] }}</h1>
  <article>
    <p>
      created on
      <span>{{ task_info["created_at"].strftime("%b %d, %Y") }}</span> at
      <span>{{ task_info["created_at"].strftime("%I:%M %p") }}</span>
    </p>
    <article>
      <input
        type="checkbox"
        id="completed"
        {%
        if
        task_info.is_completed
        %}checked{%
        endif
        %}
      />
      <label for="completed"
        >{% if task_info["is_completed"] %}Completed{% else %}Mark as
        completed{% endif %}</label
      >
    </article>
  </article>
</section>
{% endblock dashboard %} {% block inner_script %}
<!-- <script src="../static/js/task.js" type="module"></script> -->
{% endblock inner_script %}
